# SqlAlchemy Relations

### Introduction

So far we have seen how to set up sqlalchemy and use it to perform some single table queries.  It turns out that we can also use sqlalchemy to perform some of our relational queries.  

Let's get started.

### Loading our Data

Let's begin connecting to postgres, and then creating a database called `moes_bar`.  

```sql
create database moes_bar;
```

Then, if you look in the `seed.py` file, you can see how we'll load the data.  

We first use sqlalchemy to create a connection to our database.

```python
from sqlalchemy import create_engine
conn_string = 'postgresql://jeffreykatz@localhost/moes_bar'
conn = create_engine(conn_string)
```

And then from there, we load a number of csv files in the `data` folder into dataframes.

```python
root_url = "./data/"
names = ['bartenders', 'customers', 'drinks', 'orders', 'ingredients', 'ingredients_drinks']
loaded_dfs = [pd.read_csv(f'{root_url}{name}.csv') for name in names]
```

And then we call `to_sql` on each dataframe, while passing through the connection to our postgres database.

> The name is the name of the table.

```python
for df, name in zip(loaded_dfs, names):
    df.to_sql(name, conn, if_exists='replace', index = False)
```

So run `python3 seed.py`, and then connect to postgres to confirm that the tables are loaded.

### Seeing our relations

Now let's dive directly into our flask shell.

```bash
flask shell
```

From there, we can get our first order by running the following.

```bash
>>> order = db.session.query(Order).first()
>>> order
<Order id: 1, customer_id: 1, drink_id: 1, bartender_id: 1>
```

And we can see that the bartender_id is 1.

Also, notice that in the Order model, we did do things a little differently, by specifying the foreign key with something like the following:

```python
bartender_id = db.Column(db.Integer(), db.ForeignKey('bartenders.id'))
```

So in the `ForeignKey` instance, we specify the related primary key, here the id on the bartenders table.

Ok, so now we can call something like `first_order.bartender_id`.  However, to call something like `first_order.bartender`, we need to do something a little differently.

For this, we need to go to the `has_many` model -- here it's the bartender model that has many orders, so go there.

And you can see that in the bartender model, we have the following lines:

```python
from sqlalchemy.orm import relationship, backref
from app import db

class Bartender(db.Model):
    ...
    orders = relationship('Order', backref=backref('bartender'), cascade='all, delete-orphan')
```

So our relationship method does a few things, but the first thing to see is that we just created a method called orders, that will look find all of the orders of a bartender.

Log into the flask shell and run the following:

```python 
>>> bartender = db.session.query(Bartender).first()
>>> bartender.orders
```

Ok not bad.

And we can see the underlying query by running the following:

```python
stmt = db.session.query(Bartender.orders).statement
print(stmt)
```

```sql
SELECT bartenders.id = orders.bartender_id AS anon_1
FROM bartenders, orders
```

So it's a little different than we're used to, but it still looks for where the `bartenders.id` equals the `orders.bartender_id`.

### Going deeper on the relationship

Ok, so now let's take another look at the `relationship` method.

```python
orders = relationship('Order', backref=backref('bartender'), cascade='all, delete-orphan')
```

The first argument says that the `bartender.orders` is related to the orders model.  

That second argument of `backref` indicates to create an `order.bartender` method.

And we can see this by logging into the shell and giving it a shot.

```python
first_order = db.session.query(Order).first()
first_order.bartender
# <User 'moe'>
```

Ok, so this method of `order.bartender` came from the `backref` argument which indicated to add a bartender method.

```python
orders = relationship('Order', backref=backref('bartender'), cascade='all, delete-orphan')
```

* One last thing

Finally, that last argument of `cascade='all, delete-orphan'` indicates to delete any orphan records.

What's an orphan record?  Well let's say that we delete moe from the database.  It would at this point become difficult to make sense of his orders.  That cascade line would automatically delete all of moe's orders.

### Summary

In this lesson, we saw how to add relationship methods in SQLalchemy.  There are really two steps:

1.  Add the foreign id column on the join table

```python
class Order:
    bartender_id = db.Column(db.Integer(), db.ForeignKey('bartenders.id'))
```

2. Then add the relationship method on the has many table

```python
from sqlalchemy.orm import relationship, backref
from app import db

class Bartender(db.Model):
    ...
    orders = relationship('Order', backref=backref('bartender'), cascade='all, delete-orphan')
```

From there, you will be able to call `bartender.orders` and `order.bartender`.